<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-4">
  <h2>Students</h2>
  <form method="GET" action="/students/checked">
    <div id="student-check">
      <% @students.order(:email).each do |student| %>
        <input type="hidden" name="filter" value="true" />

        <div class="form-check">
          <input class="form-check-input" name="<%="student-#{student.id}"%>" type="checkbox" value="<%="#{student.id}"%>">
          <label class="form-check-label" for="flexCheckDefault">
            <%="#{student.name}" %>
          </label>
        </div>
      <% end %>
      <%= button_to 'Submit' %>
      </div>
    </form>
  </div>
  <div class="col">
    <%= render "output" %>
  </div>
</div>
<br>
<%= link_to 'New Student', new_student_path %>
